<!DOCTYPE html>
<html>
  <head>
    <title>Image Processing</title>
  </head>
  <body>
    <h1>Image Processing</h1>
    <form method="POST" enctype="multipart/form-data">
      <input type="file" name="query_img" accept="image/*">
      <input type="submit" value="Upload">
    </form>

    {% if img_path %}
      <h2>Processed Image:</h2>
      <img height="200px" src="getImg?imgId={{ img_path }}" alt="Processed Image">
    {% endif %}

    {% if predictions %}
      <h2>Predictions:</h2>
      <pre>{{ predictions }}</pre>
    {% endif %}

  </body>
</html>
